body{
    background-image: url(budget-bg.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;
    background-attachment: fixed;
    font-family: "Lato", sans-serif;
    background-position: center;
}

